<script src="https://telegram.org/js/telegram-web-app.js"></script>
<style>
:root{
  color-scheme: light dark;
}

* { box-sizing: border-box; }

body{
  margin: 0;
  padding: 16px;
  background: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, sans-serif;
}
.main-text{
    font-family: sans-serif;
    display: flex;
}

.card{
  background: var(--tg-theme-secondary-bg-color);
  border-radius: 12px;
  padding: 12px;
}
#inputText{
    width: 100%;
    box-sizing: border-box;
    padding: 12px 14px;

    border-radius: 12px;

    /* прозрачность только у фона */
    background-color: rgba(255, 255, 255, 0.05); /* 0..1: меньше = прозрачнее */
    border: 1px solid rgba(255, 255, 255, 0.05);

    color: var(--tg-theme-text-color);
    outline: none;
}


/* когда нажал (фокус) — сделать “подсветку” */
#inputText:focus{
    border-color: rgba(46,166,255,.75);
    box-shadow:
            0 10px 25px rgba(0,0,0,.22),
            0 0 0 3px rgba(46,166,255,.22),
            inset 0 1px 0 rgba(255,255,255,.18);
}


.hint{ color: var(--tg-theme-hint-color); font-size: 13px; }
.btn{
  width: 100%;
  padding: 12px;
  border: 0;
  border-radius: 10px;
  background: var(--tg-theme-button-color);
  color: var(--tg-theme-button-text-color);
  font-weight: 600;
}
</style>
